@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 194 61% 38%;
        --primary-background: 190 37% 97%;
        --primary-foreground: 210 40% 98%;
        --primary-light: 193 37% 91%;

        --secondary: 43 84% 51%;
        --secondary-background: 44 85% 97%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --secondary-light: 43 84% 93%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --positive: 116 51% 47%;
        --positive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.background-bubble-primary,
.background-bubble-secondary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    max-width: 600px !important;
    padding-inline: 1.25rem;
    padding-block: 7rem;
    overflow: hidden;
}

.background-bubble-primary > .background {
    background-image: url("/assets/bg-blue.svg");
}

.background-bubble-secondary > .background {
    background-image: url("/assets/bg-yellow.svg");
}

.background-bubble-primary > .background,
.background-bubble-secondary > .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 130%;
    width: 200%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.background-bubble-primary > .content,
.background-bubble-secondary > .content {
    max-width: 300px;
    text-align: start;
}

.illustration-home {
    max-height: 300px;
    width: auto;
}

.link-background-footer {
    background-image: url("/assets/footer-link-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.link-background-footer-2 {
    background-image: url("/assets/footer-link-background-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
summary {
    outline: none;
    font-size: 1.15em;
    cursor: pointer;
    width: 100%;
}
details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

.sidebar-menu a {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: hsl(var(--background));
    color: black;
}
.sidebar-menu a.active {
    background-color: hsl(var(--primary));
    color: white;
}
.sidebar-menu a:hover {
    background-color: hsl(var(--primary-background));
}
.sidebar-menu a.active:hover {
    background-color: hsl(var(--primary));
    color: white;
}

@media (min-width: 576px) {
    .container-custom {
        width: 540px;
        margin-inline: auto;
    }
    .background-bubble-primary > .content,
    .background-bubble-secondary > .content {
        text-align: center;
        z-index: 5;
    }
}

@media (min-width: 768px) {
    .illustration-home {
        max-height: unset;
        height: 300px;
    }
    .container-custom {
        width: 720px;
        margin-inline: auto;
    }
}

@media (min-width: 992px) {
    .illustration-values {
        min-height: 450px;
        max-height: 450px;
        min-width: 450px;
        width: 450px;
    }

    .illustration-questions {
        min-height: 300px;
        max-height: 300px;
        min-width: 300px;
        width: 300px;
    }

    .illustration-home {
        height: 400px;
        margin-left: 50px;
    }
    .container-custom {
        width: 960px;
        margin-inline: auto;
    }
    .background-bubble-primary > .background,
    .background-bubble-secondary > .background {
        height: 122%;
    }
}

@media (min-width: 1200px) {
    .illustration-values {
        min-height: 500px;
        max-height: 500px;
        min-width: 500px;
        width: 500px;
    }

    .illustration-questions {
        min-height: 400px;
        max-height: 400px;
        min-width: 400px;
        width: 400px;
    }

    .illustration-home {
        height: 400px;
        margin-left: 100px;
    }
    .container-custom {
        width: 1200px;
        margin-inline: auto;
    }

    .background-illustration-values,
    .background-illustration-questions {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 600px;
        height: 600px;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .background-illustration-values {
        background-image: url("/assets/bg-illustration-values.svg");
    }
    .background-illustration-questions {
        background-image: url("/assets/bg-illustration-questions.svg");
    }
    .background-questions,
    .background-values {
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
        width: 50%;
        background-color: hsl(var(--primary-background));
        z-index: -1;
    }
    .background-values {
        left: unset;
        right: 0;
        background-color: hsl(var(--secondary-background));
    }
}

@media (min-width: 1400px) {
    .illustration-home {
        margin-left: 150px;
    }
    .container-custom {
        width: 1320px;
        margin-inline: auto;
    }
}

@media (min-width: 1400px) {
}
